#carrousselNavigation {
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-top: 1px solid #BFBFBF;
   height: 100px;
}

#carrousselNavigation>div {
   display: grid;
}

#carrousselNavigation > div:nth-child(1) {
   border-right: 1px solid #BFBFBF;
}

#carrousselNavigation>div a {
   display: inline-block;
   text-align: center;
   margin: auto;
}