#carroussel-navigation {
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-top: 1px solid #BFBFBF;
   height: 100px;
}

#carroussel-navigation>div {
   display: grid;
}

#carroussel-navigation > div:nth-child(1) {
   border-right: 1px solid #BFBFBF;
}

#carroussel-navigation>div a {
   display: inline-block;
   text-align: center;
   margin: auto;
}

#carroussel-navigation>div:hover {
   
   cursor: pointer;

   a {
      color: var(--color-blue-mystic);
   }

}