#contactContent {
   display: grid;
   grid-template-columns: 60% auto;
   align-items: center;
   gap: 50px;
   padding-left: 80px;
}

#contactContent article {
   max-width: 500px;
   padding-top: 100px;
   padding-bottom: 100px;
}

#contactContent p {
   font-size: 14px;
   color: var(--color-grey);
   padding-bottom: 50px;
   font-family: var(--font);
}

#contactContent form {
   border: 1px solid var(--color-grey-second);
   max-width: 430px;
   display: grid;
   gap: 30px;
   padding: 90px;
}

#contactContent form input[type='text'], #contactContent form input[type='email'] {
   height: 25px;
}

#contactContent form input , #contactContent form textarea  {
   border: none;
   border-bottom: 1px solid var(--color-grey-second);
}

#contactContent form textarea {
   resize: none;
   height: 100px;
}

#contactContent form input[type='submit']{
   height: 47px;
   color: var(--color);
   background-color: white;
   border: 1px solid var(--color-grey-second);
}

#contactContent form input[type='text']::placeholder, #contactContent form input[type='email']::placeholder, #contactContent form textarea::placeholder {
   color: var(--color-grey-second);
   font-size: 14px;
}