#headHoroscope {
   display: flex;
   justify-content: flex-start;
   gap: 20px;
   padding: 50px 0px 50px 50px;
}


#headHoroscope a {
   text-decoration: none;
   min-width: 230px;
}

#headHoroscope>a>.nom_signe {
   padding-top: 20px;
   border-top: 2px solid var(--color-grey-second);
   font-family: var(--font);
   font-size: 18px;
   color: black;
}

.active {
   color: black;
}
