#horoscope {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 50px;
   padding-left: 32px;
}

#text_horoscope {
   min-height: 500px;
   min-width: 680px;
}

#predictions {
   display: grid;
}

#img_signe {
   max-width: 360px;
   padding-top: 140px;
}

.subtitle {
   color: #3F3F3F;;
}

aside {
   height: 100vh;
   min-height: 100%;
   background: url(../img/background.png) no-repeat 90px center / cover;
   display: flex;
   align-items: center;
}

#datejour {
   font-size: 16px;
   font-family: var(--font);
   font-weight: 400;
}

#horoscope>.nom_signe {
   font-family: var(--font);
   color: var(--color-grey);
}


#horoscope h1 {
   font-size: 42px;
   font-family: var(--font-second);
   font-weight: 400;
}

#predictions {
   display: grid;
   gap: 10px   ;
   padding-top: 50px;
   font-family: var(--font);
   font-size: 14px;
   font-weight: 400;
   color: var(--color-grey-third);
}
