#horoscope {
   display: grid;
   grid-template-columns: 60% auto;
   align-items: center;
   gap: 50px;
   padding-left: 80px;
}

#text_horoscope {
   min-height: 500px;
   min-width: 680px;
}

#predictions {
   display: grid;
}

#img_signe {
   max-width: 360px;
   padding-top: 140px;
}

.subtitle {
   color: #3F3F3F;;
}

#datejour {
   font-size: 16px;
   font-family: var(--font);
   font-weight: 400;
}

#horoscope>.nom_signe {
   font-family: var(--font);
   color: var(--color-grey);
}

#predictions {
   display: grid;
   gap: 10px   ;
   padding-top: 50px;
   font-family: var(--font);
   font-size: 14px;
   font-weight: 400;
   color: var(--color-grey-third);
}
