header {
   max-height: 720px;
   overflow-y: auto;
   border-right: 1px solid #BFBFBF;
   border-bottom: 1px solid #BFBFBF;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header .burger-menu {
   display: none;
}

header nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100dvh;
}

header nav ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 0;
}

header nav ul li {
   list-style: none;
   padding: 0;
   text-align: center;
   font-size: 16px;
   font-family: var(--font);
   color: var(--color-grey);
   font-weight: 100;
}

header nav ul a {
   text-align: center;
   font-size: 16px;
   font-family: var(--font);
   color: var(--color-grey);
   font-weight: 100;
}

header nav ul li a:hover {
   color: var(--color-blue-mystic);
   font-weight: 700;
   cursor: pointer;
}

header nav ul li a.active {
   color: var(--color-black);
   font-weight: 700;
}

header div a {
   color: var(--color-grey-second)
}

@media (max-width:1025px) {

   header {
      max-height: 100%;
      border-bottom: none;
   }

   header.close {
      min-width: 40px;
   }

   header.open {
      width: 300px;
      max-width: fit-content;
      position: fixed;
      background-color: white;
      z-index: 999;
   }

   header.close .burger-menu {
      position: fixed;
   }

   header.open .burger-menu {
      position: absolute;
   }

   header .burger-menu {
      z-index: 1000;
      display: flex;
      color: var(--color-blue-mystic);
      cursor: pointer;
      padding-top: 5px;
      padding-left: 5px;
   }

   header.close nav {
      display: none;
   }

   header.open nav {
      height: 100dvh;
      min-height: 640px;
      display: flex;
      z-index: 999;
   }
}


