header {
   min-height: 100vh;
   max-width: 300px;
   border-right: 1px solid #BFBFBF;
   border-bottom: 1px solid #BFBFBF;
   display: grid;
   grid-template-rows: 1fr 1fr;
}


header nav ul {
   padding: 0;
   height: 258px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 50px;
   margin: auto;
}

.active {
   color: black;
}

header nav ul a {
   text-align: center;
   font-size: 16px;
   font-family: var(--font);
   color: var(--color-grey);
   font-weight: 100;
}

header div a {
   color: var(--color-grey-second)
}


