@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
   margin: 0;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

#root {
   display: grid;
   grid-template-columns: 300px auto;
}

main {
   max-width: 100%;
   background-image: url(/img/background.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 100%;
   min-height: 100svh;
}

.uppercase {
   text-transform: uppercase;
}

.font-bold {
   color: var(--color-grey-fourth);
}

.date-signe {
   font-family: var(--font);
   color: var(--color-grey);
}

.overlay {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   z-index: 1;
}

.opacity {
   background-color: rgba(0, 0, 0, 0.33);
}


:root {
   --font : 'Roboto';
   --font-second : 'Roboto Condensed';
   --color-black: black;
   --color-grey : #909090;
   --color-grey-second : #BFBFBF;
   --color-grey-third : #908F8F;
   --color-grey-fourth : #3F3F3F ;
   --color-blue-mystic : #4A6A99 ;  
}

h1 {
   font-size: 42px;
   letter-spacing: 5px;
   padding-bottom: 20px;
   font-family: var(--font-second);
}

@media (max-width:1300px) {

   main {
      background-image: none;
   }
}

@media (max-width:1025px) {

   #root {
      display: flex;
      justify-content: start;
   }
}

@media (max-width:400px){

   main {
      max-width: 80%;
   }

}