@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
   margin: 0;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

#root {
   display: grid;
   grid-template-columns: 300px auto;
}

main {
   max-width: 100%;
}

.uppercase {
   text-transform: uppercase;
}

.font-bold {
   color: var(--color-grey-fourth);
}

.date-signe {
   font-family: var(--font);
   color: var(--color-grey);
}

:root {
   --font : 'Roboto';
   --font-second : 'Roboto Condensed';
   --color-black: black;
   --color-grey : #909090;
   --color-grey-second : #BFBFBF;
   --color-grey-third : #908F8F;
   --color-grey-fourth : #3F3F3F ; 
}

h1 {
   font-size: 42px;
   letter-spacing: 5px;
   padding-bottom: 20px;
   font-family: var(--font-second);
}

@media (max-width:767px) {

   #root {
      display: flex;
      justify-content: space-between;
   }
}